<section class="footer p-100">
    <div class="container">
        <div class="row g-3 justify-content-around">
            <div class="col-lg-6">
                <div class="form p-2 p-md-4  rounded-3">
                    <h6 class="">GET IN TOUCH</h6>
                    <h2 class="text-white py-3">Let's Discuss Projects</h2>
                    <p class="pb-3">Get in touch with us for any kind of help. We are here to give you the best and also
                        here to help
                        you to find your projects.</p>
                    <div class="row g-3">
                        <div class="col-lg-6">
                            <input type="text" placeholder="First Name *" id="name"
                                class="bg-transparent rounded-3 border w-100 py-3 ps-3" style="border-color: #323232;">
                        </div>
                        <div class="col-lg-6">
                            <input type="text" placeholder="Your Email *" id="email"
                                class="bg-transparent rounded-3 border w-100 py-3 ps-3" style="border-color: #323232;">
                        </div>
                    </div>
                    <input type="text" placeholder="Subject *" id="subject"
                        class="bg-transparent rounded-3 border w-100 py-3 ps-3 mt-3" style="border-color: #323232;">
                    <textarea name="" id="message" cols="30" rows="10" placeholder="Message *"
                        class="bg-transparent rounded-3 border w-100 py-3 ps-3 mt-3"
                        style="border-color: #323232;"></textarea>
                    <button class="butn w-100 bg-light text-dark mt-3">Send Message</button>
                </div>
            </div>
            <div class="col-lg-4">
                <h5 class="text-white fs-3 fw-bold">Let’s Discuss Your Project</h5>
                <div class="d-flex mt-3">
                    <div class="message">
                        <i class="fa-solid fa-envelope fs-3 text-white"></i>
                    </div>
                    <div class="ms-4">
                        <h4 class="text-white m-0">Phone</h4>
                        <p class="text-white">+01 123 654 8096</p>
                    </div>
                </div>
                <div class="d-flex my-3">
                    <div class="message">
                        <i class="fa-solid fa-phone-flip fs-3 text-white"></i>
                    </div>
                    <div class="ms-4">
                        <h4 class="text-white m-0">Mail </h4>
                        <p class="text-white"> info@domainname.com</p>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="message px-4">
                        <i class="fa-solid fa-map-location-dot fs-3 text-white"></i>
                    </div>
                    <div class="ms-4">
                        <h4 class="text-white m-0">Visit My Studio </h4>
                        <p class="text-white">Warnwe Park Streetperrine,
                            FL 33157 New York City</p>
                    </div>
                </div>

                <div>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13612.877149723601!2d76.25949765!3d31.463153399999992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1693824765828!5m2!1sen!2sin"
                        width="600" height="450" style="border:0; border-radius: 10px;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>