<section class="mikon">
    <div class="container">
        <div class="row g-3 align-items-center w-100">
            <div class="col-lg-6 col-md-6">
                <div class="text-center text-md-start">
                    <h1 class="text-white ">I'm Mikon</h1>
                    <h2 class="text-white">I'M A DESIGNER</h2>
                    <button class="butn border my-3">Get in touch <i
                            class="fa-solid fa-arrow-right ms-2 fs-5"></i></button>
                    <div class="row g-3 justify-content-center pt-3">
                        <div class="col-lg-4">
                            <div class="text-white">
                                <h2 class="fw-bold fs-1">280 <span class="ycolor">+</span></h2>
                                <p>Google Review</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="text-white">
                                <h2 class="fw-bold fs-1">15 <span class="ycolor">+</span></h2>
                                <p>Years Experience</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="text-white">
                                <h2 class="fw-bold fs-1">49 <span class="ycolor">+</span></h2>
                                <p>Awward Winning</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="mikon_body">
                    <img src="../../assets/image/about.png" alt="about" class="w-100 img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- \section end  -->

<section class="p-100" >
    <div class="container">
        <div class="row g-3 justify-content-center">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="../../assets/image/brand.svg" alt="brand" class="w-100">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="../../assets/image/brand1.svg" alt="brand" class="w-100">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="../../assets/image/brand.svg" alt="brand" class="w-100">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="../../assets/image/brand1.svg" alt="brand" class="w-100">
            </div>
        </div>
    </div>
</section>

<!-- section end  -->

<section class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div>
                    <h6>SERVICES</h6>
                    <h2>Get a powerful website that <br> delivers results with an all-in <br>-one solution</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row g-4">
                    <div class="col-lg-12">
                        <div class="border p-2 p-md-4 rounded-4 d-flex ">
                            <div class="leesthen d-flex align-items-center justify-content-center bg-black text-white">
                                <div class="angle border border-3 d-flex align-items-center justify-content-center">
                                    <i class="fa-solid fa-angle-left"></i>
                                    <i class="fa-solid fa-angle-right"></i>
                                </div>
                            </div>
                            <div>
                                <h5>WEB DESIGN</h5>
                                <p>Say goodbye to the hassle of managing multiple providers and get an all-in-one
                                    website
                                    solution
                                    that covers design, development, and content creation</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="border p-2 p-md-4 rounded-4 d-flex ">
                            <div class="leesthen d-flex align-items-center justify-content-center bg-black text-white">
                                <div>
                                    <i class="fa-solid fa-palette fs-3"></i>
                                </div>
                            </div>
                            <div>
                                <h5>UI/UX DESIGNER</h5>
                                <p>Say goodbye to the hassle of managing multiple providers and get an all-in-one
                                    website
                                    solution
                                    that covers design, development, and content creation</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="border p-2 p-md-4 rounded-4 d-flex ">
                            <div class="leesthen d-flex align-items-center justify-content-center bg-black text-white">
                                <div>
                                    <i class="fa-solid fa-gauge-high fs-3"></i>
                                </div>
                            </div>
                            <div>
                                <h5>USER RESEARCH</h5>
                                <p>Say goodbye to the hassle of managing multiple providers and get an all-in-one
                                    website
                                    solution
                                    that covers design, development, and content creation</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- section end  -->

<section class="p-100">
    <div class="container">
        <h2 class="text-center">Featured Projects</h2>
        <div class="featured_img mt-5">
            <div class="Project">
                <h5 class="text-white text-capitalize">Project 1</h5>
                <p class="text-white">In publishing and graphic design, Lorem ipsum is a placeholder text commonly used
                    to demonstrate</p>
                <button class="butn bg-transparent border">View Project <i
                        class="fa-solid fa-arrow-right-long"></i></button>
            </div>
            <div class="d-flex align-items-center ms-auto">
                <div class="design me-2" style="margin-bottom: 40px;">
                    <h5 class="m-0 text-capitalize" style="letter-spacing: 0;">web desing</h5>
                </div>
                <div class="design" style="margin-bottom: 40px; margin-right: 40px;">
                    <h5 class="m-0 text-capitalize" style="letter-spacing: 0;">web desing</h5>
                </div>
            </div>
        </div>

        <div class="featured_img2 mt-5">
            <div class="Project">
                <h5 class="text-white text-capitalize">Project 2</h5>
                <p class="text-white">In publishing and graphic design, Lorem ipsum is a placeholder text commonly used
                    to demonstrate</p>
                <button class="butn bg-transparent border">View Project <i
                        class="fa-solid fa-arrow-right-long"></i></button>
            </div>
            <div class="d-flex align-items-center ms-auto">
                <div class="design me-2" style="margin-bottom: 40px;">
                    <h5 class="m-0 text-capitalize" style="letter-spacing: 0;">web desing</h5>
                </div>
                <div class="design" style="margin-bottom: 40px; margin-right: 40px;">
                    <h5 class="m-0 text-capitalize" style="letter-spacing: 0;">web desing</h5>
                </div>
            </div>
        </div>

        <div class="featured_img3 mt-5">
            <div class="Project">
                <h5 class="text-white text-capitalize">Project 3</h5>
                <p class="text-white">In publishing and graphic design, Lorem ipsum is a placeholder text commonly used
                    to demonstrate</p>
                <button class="butn bg-transparent border">View Project <i
                        class="fa-solid fa-arrow-right-long"></i></button>
            </div>
            <div class="d-flex align-items-center ms-auto">
                <div class="design me-2" style="margin-bottom: 40px;">
                    <h5 class="m-0 text-capitalize" style="letter-spacing: 0;">web desing</h5>
                </div>
                <div class="design" style="margin-bottom: 40px; margin-right: 40px;">
                    <h5 class="m-0 text-capitalize" style="letter-spacing: 0;">web desing</h5>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- section end -->


<section class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div>
                    <h6>MY PROCESS</h6>
                    <h2>Transform your website <br> dreams into a reality in just a <br> few simple steps.</h2>
                    <button class="butn">Get In touch <i class="fa-solid fa-arrow-right-long ms-2"></i></button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row g-4">
                    <div class="col-lg-12">
                        <div class="border p-2 p-md-4 rounded-4 d-flex ">
                            <div class="leesthen d-flex align-items-center justify-content-center bg-black text-white">
                                <div class="">
                                    <i class="fa-solid fa-chart-bar fs-3"></i>
                                </div>
                            </div>
                            <div>
                                <h5>CONCEPT</h5>
                                <p>Say goodbye to the hassle of managing multiple providers and get an all-in-one
                                    website
                                    solution
                                    that covers design, development, and content creation</p>
                                <ul>
                                    <li class="p py-1">Reviewing any existing branding</li>
                                    <li class="p py-1">Target audience and competitors research</li>
                                    <li class="p py-1">Developing a strategy</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="border p-2 p-md-4 rounded-4 d-flex ">
                            <div class="leesthen d-flex align-items-center justify-content-center bg-black text-white">
                                <div>
                                    <i class="fa-solid fa-paintbrush fs-3"></i>
                                </div>
                            </div>
                            <div>
                                <h5>DESIGN</h5>
                                <p>Say goodbye to the hassle of managing multiple providers and get an all-in-one
                                    website
                                    solution
                                    that covers design, development, and content creation</p>
                                <ul>
                                    <li class="p py-1">Reviewing any existing branding</li>
                                    <li class="p py-1">Target audience and competitors research</li>
                                    <li class="p py-1">Developing a strategy</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="border p-2 p-md-4 rounded-4 d-flex ">
                            <div class="leesthen d-flex align-items-center justify-content-center bg-black text-white">
                                <div>
                                    <i class="fa-solid fa-code-fork fs-3"></i>
                                </div>
                            </div>
                            <div>
                                <h5>DEVELOPMENT</h5>
                                <p>Say goodbye to the hassle of managing multiple providers and get an all-in-one
                                    website
                                    solution
                                    that covers design, development, and content creation</p>
                                <ul>
                                    <li class="p py-1">Reviewing any existing branding</li>
                                    <li class="p py-1">Target audience and competitors research</li>
                                    <li class="p py-1">Developing a strategy</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- section end  -->

<section class="ELON p-100 mt-5">
    <div class="container">
        <div class="row g-3 align-items-center justify-content-around">
            <div class="col-lg-4">
                <div class="elon_img">
                    <img src="../../assets/image/about1.png" alt="mg" class="w-100">
                </div>
            </div>
            <div class="col-lg-6">
                <div>
                    <h5 class="text-white fs-5">ABOUT - ELON MIKON</h5>
                    <h2 class="text-white">Get a website that will make a lasting impression on your audience!!!</h2>
                    <p class="text-white">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for
                        those interested.
                        Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced
                        in their exact original form, accompanied by English versions from the 1914 translation by H.
                        Rackham.</p>
                    <div class="icons d-flex align-items-center">
                        <div class="ico shadow-sm mx-2">
                            <i class="fa-brands fa-facebook fs-3 text-white"></i>
                        </div>
                        <div class="ico shadow-sm mx-2">
                            <i class="fa-brands fa-twitter fs-3 text-white"></i>
                        </div>
                        <div class="ico shadow-sm mx-2">
                            <i class="fa-brands fa-instagram fs-3 text-white"></i>
                        </div>
                        <div class="ico shadow-sm mx-2">
                            <i class="fa-brands fa-linkedin fs-3 text-white"></i>
                        </div>
                        <div class="ico shadow-sm mx-2">
                            <i class="fa-brands fa-pinterest fs-3 text-white"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- section-end  -->
<section class="Clients p-100">
    <div class="container">
        <h2 class="text-center text-white pb-5">Praise from Clients</h2>
        <div class="row g-3 justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="smith p-4 rounded-3 shadow">
                    <img src="../../assets/image/brand.svg" alt="brand" class="py-4">
                    <h5 class="text-dark">Our expectations were surpassed by the exceptional web design</h5>
                    <p class="py-3 text-dark">Detail and creativity exceeded our expectations during our website
                        redesign. The visually
                        stunning and user-friendly site she produced immediately enhanced our online presence</p>
                    <div class="d-flex align-items-center">
                        <img src="../../assets/image/avatar.png" alt="avatar" class="rounded-circle">
                        <div class="ms-auto">
                            <h6 class="text-capitalize"> Will Smith</h6>
                            <p class="m-0">Sample Company</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="smith p-4 rounded-3 shadow">
                    <img src="../../assets/image/brand.svg" alt="brand" class="py-4">
                    <h5 class="text-dark">Our expectations were surpassed by the exceptional web design</h5>
                    <p class="py-3 text-dark">Detail and creativity exceeded our expectations during our website
                        redesign. The visually
                        stunning and user-friendly site she produced immediately enhanced our online presence</p>
                    <div class="d-flex align-items-center">
                        <img src="../../assets/image/avatar1.png" alt="avatar" class="rounded-circle">
                        <div class="ms-auto">
                            <h6 class="text-capitalize"> Will Smith</h6>
                            <p class="m-0">Sample Company</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="smith p-4 rounded-3 shadow">
                    <img src="../../assets/image/brand.svg" alt="brand" class="py-4">
                    <h5 class="text-dark">Our expectations were surpassed by the exceptional web design</h5>
                    <p class="py-3 text-dark">Detail and creativity exceeded our expectations during our website
                        redesign. The visually
                        stunning and user-friendly site she produced immediately enhanced our online presence</p>
                    <div class="d-flex align-items-center">
                        <img src="../../assets/image/avatar2.png" alt="avatar" class="rounded-circle">
                        <div class="ms-auto">
                            <h6 class="text-capitalize"> Will Smith</h6>
                            <p class="m-0">Sample Company</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- col end  --> 

            <div class="col-lg-4 col-md-6">
                <div class="smith p-4 rounded-3 shadow">
                    <img src="../../assets/image/brand.svg" alt="brand" class="py-4">
                    <h5 class="text-dark">Our expectations were surpassed by the exceptional web design</h5>
                    <p class="py-3 text-dark">Detail and creativity exceeded our expectations during our website
                        redesign. The visually
                        stunning and user-friendly site she produced immediately enhanced our online presence</p>
                    <div class="d-flex align-items-center">
                        <img src="../../assets/image/avatar3.png" alt="avatar" class="rounded-circle">
                        <div class="ms-auto">
                            <h6 class="text-capitalize"> Will Smith</h6>
                            <p class="m-0">Sample Company</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="smith p-4 rounded-3 shadow">
                    <img src="../../assets/image/brand.svg" alt="brand" class="py-4">
                    <h5 class="text-dark">Our expectations were surpassed by the exceptional web design</h5>
                    <p class="py-3 text-dark">Detail and creativity exceeded our expectations during our website
                        redesign. The visually
                        stunning and user-friendly site she produced immediately enhanced our online presence</p>
                    <div class="d-flex align-items-center">
                        <img src="../../assets/image/avatar4.png" alt="avatar" class="rounded-circle">
                        <div class="ms-auto">
                            <h6 class="text-capitalize"> Will Smith</h6>
                            <p class="m-0">Sample Company</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="smith p-4 rounded-3 shadow">
                    <img src="../../assets/image/brand.svg" alt="brand" class="py-4">
                    <h5 class="">Our expectations were surpassed by the exceptional web design</h5>
                    <p class="py-3 ">Detail and creativity exceeded our expectations during our website
                        redesign. The visually
                        stunning and user-friendly site she produced immediately enhanced our online presence</p>
                    <div class="d-flex align-items-center">
                        <img src="../../assets/image/avatar5.png" alt="avatar" class="rounded-circle">
                        <div class="ms-auto">
                            <h6 class="text-capitalize"> Will Smith</h6>
                            <p class="m-0">Sample Company</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>